:root {
  --padding: 1rem;
  --padding-left: 2rem;
  --white: #ffffff;
  --gray: #a9b1bd;
  --light-gray: #e5eaf4;
  --light-gray-trans: #f5f8ff;
  --cyan: #11b0c8;

  @media (min-width: 768px) {
    --padding: 4rem;
    --padding-left: 8rem;
  }
}
